<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <connectionStrings>
    <clear/>
    <add name="myConnectionString" connectionString="Data Source=tcp:avam5n6x0l.database.windows.net,1433;Initial Catalog=WebMAR_Feature6;User ID=grmadmin@avam5n6x0l;Password=Grmdata123"/>
  </connectionStrings>


  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <layout name="PatternLayout" type="Log4net.Layout.PatternLayout">
        <ConversionPattern value="%date{dd-MMM-yyyy-HH:mm:ss} [%class] [%level] [%method] [%message] %newline"/>
      </layout>
      <AppendToFile value="true"/>
      <file value="AppFileLogger.log"/>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="FileAppender"/>
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="Image1FileLocation" value="GRMAutomation\Image\image1.jpg"/>
    <add key="Image2FileLocation" value="GRMAutomation\Image\image2.jpg"/>
    <add key="Image3FileLocation" value="GRMAutomation\Image\image3.jpg"/>
    <add key="Image4FileLocation" value="GRMAutomation\Image\image4.jpg"/>
    
    <add key="fileLocation" value="GRMAutomation\TestDataController\Controller.xlsx"/>
    <add key="screenShotLocation" value="GRMAutomation\Utilities\ScreenShots\"/>
    <add key="takeScreenShotPath" value="GRMAutomation\Utilities\ScreenShots\"/>
    <add key="UploadingLogoPath" value="GRMAutomation\CompanyLogo\LOGO1.jpg"/>
    <add key="UploadNonPdfFile" value="GRMAutomation\NonPdfFile\OtherThenPdfFile.txt"/>
    <add key="extentReportPath" value="GRMAutomation\Utilities\ReportFile\"/>
    <add key="CSVPath" value="GRMAutomation\TestDataController\CRMLocators.csv"/>
    <add key="downloadFilePath" value=""/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
